<div class="bg-light p-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-black-50" href="/portal">Portal Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="/students">Manage Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="/schedule">Manage Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="/calendar">Calendar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/comments"> Lesson Comments</a>
        </li>
    </ul>

    <div class="my-4">
        <h3>Welcome to Comment Management!</h3>
        <select id="userSelect" class="form-select" aria-label="Select a Student">
            {{#each students as |user|}}
            <option>
                {{user.id}}
                {{user.first_name}}
                {{user.last_name}}
            </option>
            {{/each}}
        </select>
        <button id="userSelectBtn" class="btn btn-secondary" value={{user.id}} type="submit">GO</button>
        <div id="addComment" class="form-group">
            <label for="commentTextarea">Add a Comment</label>
            <textarea class="form-control" id="commentTextarea" rows="3"></textarea>
            <button id="addCommentBtn" type="submit" class="btn btn-info">Add Comment</button>
        </div>
        <div class="card p-4 m-4">
            <div id="manageComments" class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Comment</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each comments as |comment|}}
                        <tr>
                            <th scope="row">{{comment.id}}</th>
                            <td><textarea id="pastCommentTxt"
                                class="form-control">{{comment.date}}: {{comment.content}}</textarea>
                            </td>
                            <td><button id="editBtn" class="btn btn-info" value={{comment.id}}
                                type="button">Update</button>
                            </td>
                            <td><button id="deleteBtn" class="btn btn-danger" value={{comment.id}}
                                type="button">Delete</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <script src="./js/comment.js"></script>