<div class="bg-light p-3">
<!--Portal Nav-->
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/portal">Portal Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-black" aria-current="page" href="/students">Manage Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/schedule">Manage Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/calendar">Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/comments" > Lesson Comments</a>
    </li>
    </ul>

<!--Portal Content-->
    <div class="my-4">
        <h3>Welcome to Student Management!</h3>
            <!-- We need a form or series of forms that can do the following things:
                View existing students (Get req)
                Create Students (Post req)
                Update Students (Put req)
                Remove (Delete)
            -->

            <div class="card p-4 m-4">
                <div class="card-header">
                    <h4>View Current Students</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Email</th>
                                <th scope="col">update</th>
                                <th scope="col">delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each students as |user|}}
                            <tr>
                                <th scope="row">{{user.id}}</th>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td>{{user.email}}</td>
                                <td><button class="btn btn-secondary" value={{user.id}} type="submit">Update</button></td>
                                <td><button class="btn btn-secondary" value={{user.id}}type="submit">Delete</button></td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>

            </div>

            <div class="card p-4 m-4">
                <div class="card-header">
                    <h4>Add New Student</h4>
                </div>
                <div class="card-body"></div>
                    <form class="form add-student-form">
                        <div class="form-group">
                            <label for="firstName-createStudent">Student First Name:</label>
                            <input class="form-input" type="text" id="firstName-createStudent" />
                        </div>
                        <div class="form-group">
                            <label for="lastName-createStudent">Student Last Name:</label>
                            <input class="form-input" type="text" id="lastName-createStudent" />
                        </div>
                        <div class="form-group">
                            <label for="email-createStudent">Student Email:</label>
                            <input class="form-input" type="text" id="email-createStudent" />
                        </div>
                        {{!-- <div class="form-group">
                            <label for="password-signup">Password:</label>
                            <input class="form-input" type="password" id="password-signup" />
                        </div>
                        <div class="form-group">
                            <label for="isTeacher-signup">Please select type of user:</label>
                            <select class="form-control" id="isTeacher-signup">
                                <option value="true">Teacher</option>
                                <option value="false">Student</option>
                            </select>
                        </div> --}}
                        <div class="form-group">
                            <button class="btn btn-secondary" type="submit">Add Student</button>
                        </div>
                    </form>
            </div>

    </div>
    


</div>
<script src="./js/students.js"></script>