<div class="bg-light p-3">
<!--Portal Nav-->
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/portal">Portal Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-black" aria-current="page" href="/students">Manage Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/schedule">Manage Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/calendar">Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/comments" > Lesson Comments</a>
    </li>
    </ul>

<!--Portal Content-->
    <div class="my-4">
        <h3>Welcome to Student Management!</h3>

            <div class="card p-4 m-4">
                <div class="card-header">
                    <h4>View Current Students</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Email</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each students as |user|}}
                            <tr>
                                <th scope="row" class="update-studentId" value="{{user.id}}">{{user.id}}</th>
                                <td><textarea class="update-firstname">{{user.first_name}}</textarea></td>
                                <td><textarea class="update-lastname">{{user.last_name}}</textarea></td>
                                <td><textarea class="update-email">{{user.email}}</textarea></td>
                                <td><button class="btn btn-info update-student-btn" value="{{user.id}}" type="button">Edit</button></td>
                                <td><button class="btn btn-danger delete-student-btn" value="{{user.id}}" type="button">Delete</button></td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>

            </div>

            <div class="card p-4 m-4">
                <div class="card-header">
                    <h4>Add New Student</h4>
                </div>
                <div class="card-body"></div>
                    <p>Please note that when creating a student, their password is randomly generated. The password, which you will need to write down and share with your student, will appear in a pop up window.</p>
                    <p>The student will need the email address and the generated password to log in.</p>
                    <form class="form add-student-form">
                        <div class="form-group">
                            <label for="firstName-createStudent">Student First Name:</label>
                            <input class="form-input" type="text" id="firstName-createStudent" />
                        </div>
                        <div class="form-group">
                            <label for="lastName-createStudent">Student Last Name:</label>
                            <input class="form-input" type="text" id="lastName-createStudent" />
                        </div>
                        <div class="form-group">
                            <label for="email-createStudent">Student Email:</label>
                            <input class="form-input" type="text" id="email-createStudent" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Add Student</button>
                        </div>
                    </form>
            </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/students.js"></script>